click
fastapi
uvicorn
shapely
pydantic
httpx
psycopg2-binary
gunicorn
itsdangerous
sqlalchemy
pyproj
polyline
scipy
python-dotenv
pypika
dabbas
matplotlib
geohashlite
geopy
supabase
polygon_geohasher
geohash2
pyjwt
gdal==3.9.3
python-multipart
prometheus-fastapi-instrumentator
aiocache[redis]
rasterio
aiohttp
geojson
scikit-learn
openpyxl
python-jose-cryptodome